---
layout: page
title: Linked Itech Solutions
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp text-center">We are experienced and capable of what we do.</h1>
          <h2 class="animated fadeInUp text-center">"Your pride, Our success"</h2>
          <p class="animated fadeInUp text-center">We Provide IT Services both to local and global market with a comprehensive solution.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>
We Provide IT services both to local and global market with a comprehensive solutions for computer network, hardware, web design, graphic design and cyber security through a skilled and expertise management team. For us your pride is our success.</p>
          </div>
        
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
    <p>We want to help you make yours real, by creating work that touches people because of its simplicity, fastness and Security.</p>
      <a href="{{site.baseurl}}/work" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>From Technical support to consultancy we are there for you.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
         <i class="fas fa-server"></i>
          <h4>SERVER INSTALLATION</h4>
          <p>We offer Server installation services for small to medium organization and corporate. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-pencil-alt"></i>
                    <h4>GRAPHIC DESIGN</h4>
          <p>We provide effective Graphic Design services.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-network-wired"></i>
                    <h4>NETWORKING</h4>
          <p>We provide effective computer networking and IT support services solutions for the small to medium organization and corporate.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="fas fa-video"></i>
          <h4>CCTV CAMERA</h4>
          <p>We offer cctv camera installation services for home and business and any other services related to camera. </p>
        </div>
      </div>
    </div>

      <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
       <i class="fas fa-desktop"></i>
                 <h4>WEB DESIGN</h4>
          <p>We provide high quality of web services as a website is the first impression that a customer see.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
   <i class="far fa-question-circle"></i>
          <h4>GENERAL HARDWARE & SOFTWARE SUPPORT</h4>
          <p>From Technical support to consultancy we are there for you. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
    <i class="fas fa-wifi"></i>
              <h4>INTERNET RELATED SOLUTIONS</h4>
          <p>We offer cloud services support to businesses. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
 <i class="fas fa-user-shield"></i>
          <h4>NETWORK SECURITY & SYSTEM</h4>
          <p>We help in identification of threats, security vulnerabilities and protect your infrastructure. </p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block" style="padding-top:100px">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="{{site.baseurl}}/contact" >Tell Us Your Story</a>
        </div>
      </div>
      <!--div class="col-md-4">
        { twitter https://twitter.com/linkeditech maxwidth=500 limit=1 }
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->

<!--section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section -->

